html{
    background-color:#f8efed;

}

/*
Sintaxis de CSS
selectorEtiquetaHTML,Class,ID {
    propiedad : valor ;
    propiedad : valor ;
    propiedad : valor ;
} */

h1{
    color: #2098d8;
    background-color: #40252b;
}

p{
    color:#87544d;
}

div{
    background-color: red;
    color: #fff;
    width: 200px;
    height: 200px;
    border: 5px solid black ;
  
}
a{
    background-color: purple;
}   