
/*
Sintaxis de CSS
selectorEtiquetaHTML,.Class,#ID {
    propiedad : valor ;
    propiedad : valor ;
    propiedad : valor ;
} */

body{
    background-color:rgb(126, 126, 203);
}

.caja1 {
    color: green;
    background-color: yellow;   
    height: 250px;
    width: 250px;

    border: 2px solid black;
    padding: 20px 10px 20px 10px;
    padding: 20px 10px; 
    padding: 30px;
    margin:10px ;
    box-sizing: content-box;
}
.caja2 {
    color: black;
    background-color: #fff;
    height: 250px;
    width: 250px;
}
.caja3 {
    color: orange;
    background-color: #fff;
    height: 250px;
    width: 250px;
}

